<html>
  <body style="background-color:rgb(221, 8, 92)">
    <h1>You Karate Chopskied <%= $game.current_player.name%></h1>
    <br>
    <h2><%=$game.current_player.name%> hp: <%=$game.current_player.hp%> </h2>
    <br>
    <form action="/attack" method="get">
      <div class="button">
        <button type="submit">Karate Chopskies!</button>
      </div>
    </form>

  </body>
</html>
