<html>
  <body style="background-color:rgb(221, 8, 92)">
    <h1>You Karate Chopskied <%=@player_2%></h1>
    <br>
    <h2><%=@player_2%> hp: <%=@player_2_hp%> </h2>
    <br>
    <form action="/attack" method="get">
      <div class="button">
        <button type="submit">Karate Chopskies!</button>
      </div>
    </form>

  </body>
</html>
